    body {
        background-color: rgb(247, 228, 125);
        margin: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*Menu*/

    .cabeçalho {
        height: 60px;
        width: 100%;
        position: fixed;
        z-index: 10;
        background: white;
    }

    #logo {
        position: absolute;
        top: 10px;
        float: left;
        height: 40px;
        width: 170px;
        margin-left: 50px;
    }

    #logo img {
        max-height: 100%;
    }

    .menu {
        float: right;
        list-style: none;
        margin-top: 0px;
        margin-right: 5%;
    }

    /*itens do menu*/

    .menu li {
        float: left;
        font-size: 18px;
        padding: 20px 10px 20px 10px;
    }

    /*links do menu*/

    .menu li a {
        color: initial;
        text-decoration: initial;
        color: black;
    }

    /*sombra dos links*/

    .menu li:hover {
        background-color: #b89d06;
    }

    #capa {
        background: url(Imagens/Capa.jpg);
        background-size: cover;
        height: 100%;
        padding: 10px;
    }

    #negrito {
        font-weight: bold;
    }

    #sublinhado {
        text-decoration: underline;
    }

    #titulo {
        text-align: center;
        padding: 190px 0 20px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgb(170, 147, 17);
        font-size: 60px;
        border-bottom: 3.5px solid rgb(170, 147, 17);
        margin: 0 25% 0 25%;
        text-shadow: black 3px -3px;
    }

    #subtitulo {
        padding-top: 20px;
        color: rgb(255, 255, 255);
        text-shadow: black 3px -3px;
        font-size: 30px;
        margin: 0 30% 0 30%;
        padding-bottom: 30px;
    }

    #link {
        /*border-radius: 100px;*/
        padding: 3px;
        color: wheat;
        text-shadow: none;
    }

    /*sombra do link*/

    #link:hover {
        background-color: rgb(170, 147, 17);
    }

    #caixa2 {
        float: right;
        margin-right: 50;
    }

    #im1 {
        height: 100;
        width: 550;
        margin: 20 30 0 80;
    }

    .im2 {
        height: 250;
        width: 550;
        margin: 20 130 0 0;
        float: right;
    }

    #tituloVideo {
        float: right;
        text-decoration: underline;
        padding-right: 190;
        margin-top: 25;
    }

    #video {
        width: 500;
        height: 300;
        float: right;
        margin: 70 -380 0 0
    }

    #corintro {
        background-color: rgb(255, 214, 101);
    }

    #intro {
        padding-top: 33px;
        font-size: 21;
    }

    .paragrafos {
        width: 33%;
        margin: 0 0 0 120;
        padding-top: 0;
        font-size: 19;
        float: left;
        /*background-color: rgb(229, 183, 53);*/
    }

    #colunadois {
        float: right;
    }

    #logoO1 {
        width: 70px;
    }

    .objetivoum {
        margin: 0;
    }

    #significado {
        text-transform: none;
    }

    #im3 {
        height: 300;
        float: right;
        margin-right: 70;
    }

    footer {
        background-color: black;
        width: 100%;
        margin: 0;
        overflow: hidden;
        padding: 30px 0 50px 0;
        color: white;
    }

    #rodapeum {
        font-size: 16.5;
        margin: 0 0 0 20;
    }

    #rodapedois {
        font-size: 16.5;
        margin: 0 0 0 20;
    }

    /*RESPONSIVIDADE

    @media all and (max-width: 768px) {
        .coluna, .coluna.quatro, .coluna.tres, .coluna.dois {
            display: block;
            width: 80%;
            padding: 0;
            margin: 10px auto;
            float: none;
        }
        header #logo {
            position: relative;
            width: 100%;
            margin-left: 0px;
            text-align: center;
        }
        .menu {
            visibility: hidden;
        }
        #titulo {
            margin-top: 40%;
        }
        #subtitulo {
            margin: 0 10% 0 10%;
        }
    }*/