html,
body{
    background-color:initial;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
header {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: wheat;
  }
  header #logo {
    position: absolute;
    top: 10px;
    float: left;
    height: 40px;
    width: 170px;
    margin-left: 10px;
  }
  header #logo img{
    max-height: 100%;
  }
  header .menu {
    float: right;
    list-style: none;
    margin-top: 0px;
    margin-right: 5%;
  }
  header .menu li {
    float: left;
    font-size: 18px;
    padding: 20px 10px 20px 10px;
  }
  header .menu li a {
    color: initial;
    text-decoration: initial;
    color: rgb(0, 0, 0);
  }
  header .menu li:hover {
    background-color: #b89d06;
  }
#capa{
    background: url(person-holding-coins-874684.jpg);
    background-size: cover;
    height: 100%;
    padding: 10px;
    /*height: 400px;
    padding: 190px 300px;*/
}
#título{
    text-align: center;
    padding: 190px 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(170, 147, 17);
    font-size: 60px;
    border-bottom: 3.5px solid rgb(170, 147, 17);
    margin: 0 25% 0 25%;
    text-shadow: black 3px -3px;
    /*text-decoration-line: underline;*/
    }
#subtítulo{
    /*text-align: center;
    color: rgb(255, 255, 255);
    border-top: solid 3px rgb(170, 147, 17);
    text-shadow: black 3px -3px;
    font-size: 37.54px;
    padding: 30px 0 0 0;*/
    padding-top: 20px;
    color: rgb(255, 255, 255);
    text-shadow: black 3px -3px;
    font-size: 30px;
    margin: 0 30% 0 30%;
    padding-bottom: 30px;
    }
#link{
    /*border-radius: 100px;*/  
    padding: 3px;
    color: wheat;
    text-shadow: none;
}
#link:hover{
    background-color: rgb(170, 147, 17);
}
#negrito{
    font-weight: bolder;
}
#sublinhado{
    text-decoration: underline;
}
#im1{
    /*altura*/
    height: 100;
    /*largura*/
    width: 550;
}
#im2{
    height: 300;
    width: auto;
}
}
